p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*------------ TOC/Sidebar --------------*/

/*----doesn't work when you have a theme active
.book .book-summary {
  background: yellow;
  border-right: none;
}
-----------------*/

